/*
Closed Loop Experiment Manager

clem.rc

Resource file:

* Menues
* Dialog box templates

*/


#include <windows.h>
#include "CLEM.h"

#define IDC_STATIC  -1

IDI_CLEM            ICON                    "CLEM.ICO"


CLEM MENU
	BEGIN
		POPUP "&File"
			BEGIN
				MENUITEM "&Data Log File Setup...", IDM_LOGFILESETUP
				MENUITEM "&Playback File Setup...", IDM_PLAYBACKFILESETUP
				MENUITEM SEPARATOR
				MENUITEM "Load E&xperiment Sequence...", IDM_LOADTIMEDEXP
				MENUITEM "Save Experiment Se&quence...", IDM_SAVETIMEDEXP
				MENUITEM SEPARATOR
				MENUITEM "Save &Message Log As...", IDM_SAVEMESSAGES
				MENUITEM SEPARATOR
				MENUITEM "E&xit", IDM_QUIT
			END
		POPUP "&Edit"
			BEGIN
				MENUITEM "&Add Manual Entry to Message Log", IDM_ADDTEXTENTRY
				MENUITEM "Clear All Messages from Message Log", IDM_CLEARMESSAGELOG
			END
		POPUP "Recording"
			BEGIN
				MENUITEM "Start", IDM_START
				MENUITEM "Stop", IDM_STOP
				MENUITEM SEPARATOR
				MENUITEM "Start Logging", IDM_STARTLOGGING
				MENUITEM "Stop Logging", IDM_STOPLOGGING
				MENUITEM SEPARATOR
				MENUITEM "Begin Timed Experiment", IDM_STARTLOGGING
				MENUITEM "Terminate Timed Experiment", IDM_STOPLOGGING
			END
		POPUP "Playback"
			BEGIN
				MENUITEM "(Re)Start Playback", IDM_STARTPLAYBACK
				MENUITEM "Pause Playback", IDM_PAUSEPLAYBACK
			END
		POPUP "&Plugins"
			BEGIN
				MENUITEM "Engage", IDM_ENGAGE
				MENUITEM "Disengage", IDM_DISENGAGE
				MENUITEM SEPARATOR
				MENUITEM "Locate Plugin File", IDM_LOCATEPLUGIN
				MENUITEM "Load Plugin DLL", IDM_LOADDLL
				MENUITEM "Unload Plugin DLL", IDM_UNLOADDLL
			END
		POPUP "&Display"
			BEGIN
				MENUITEM "Continous", IDM_DISP_CONTINUOUS
				MENUITEM "Level", IDM_DISP_LEVEL
				MENUITEM SEPARATOR
				MENUITEM "Layout: Last Bin", IDM_LAYOUTLASTBIN
				MENUITEM "Layout: All bins", IDM_LAYOUTALLBINS
			END

		POPUP "&Tools"
			BEGIN
				MENUITEM "Convert binary logged data files", IDM_CONVERTDIGFILES
			END
		POPUP "&Options"
			BEGIN
				MENUITEM "Timed Experiment Setup", IDM_SETUPTIMINGDLG
				MENUITEM SEPARATOR
				MENUITEM "Aquisition settings", IDM_SETUPIODLG
				MENUITEM "Load Electrode Layout and Settings File", IDM_LOADELECSETUP
				MENUITEM "Setup Digital IO line display", IDM_SETUPDIODISPLAY
				MENUITEM SEPARATOR
				MENUITEM "Setup Spike Detection Thresholds", IDM_SETUPTHRESHOLDS
				MENUITEM "Recalculate Spike Detection Thresholds for All channels", IDM_RECALC_THRESHOLDS
			END
		POPUP "&Help"
			BEGIN
				MENUITEM "&About...", IDM_ABOUT
			END
	END


DLG_CLEMINTERFACE DIALOGEX 3, 6, 420, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "Start", IDOK, 11, 21, 50, 14
PUSHBUTTON      "Stop", IDCANCEL, 11, 39, 50, 14
GROUPBOX        "Aquisition", IDC_STATIC, 5, 5, 66, 57

PUSHBUTTON      "Engage", IDM_ENGAGE, 81, 21, 50, 14
PUSHBUTTON      "Disengage", IDM_DISENGAGE, 81, 39, 50, 14
GROUPBOX        "Closed Loop", IDC_STATIC, 74, 5, 65, 57

DEFPUSHBUTTON   "Start", IDM_STARTLOGGING, 11, 76, 50, 14
PUSHBUTTON      "Stop", IDM_STOPLOGGING, 11, 96, 50, 14
GROUPBOX        "Log Data", IDC_STATIC, 5, 64, 66, 56

PUSHBUTTON		"(re)Start", IDM_STARTPLAYBACK, 11, 135, 50, 14
CONTROL			"Pause", IDM_PAUSEPLAYBACK, "Button" BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 11, 155, 50, 14
GROUPBOX        "Playback", IDC_STATIC, 5, 122, 66, 54

PUSHBUTTON      "Load", IDM_LOADDLL, 147, 20, 37, 14
PUSHBUTTON      "Unload", IDM_UNLOADDLL, 147, 38, 37, 14
LTEXT           "File:", IDC_STATIC, 188, 21, 42, 12, SS_CENTERIMAGE
EDITTEXT        304, 206, 21, 126, 13, ES_AUTOHSCROLL
LTEXT           "Status:", IDC_STATIC, 354, 21, 34, 12, SS_CENTERIMAGE
LTEXT           "", 306, 378, 21, 32, 12, SS_CENTERIMAGE, WS_EX_STATICEDGE
LTEXT           "Args:", IDC_STATIC, 188, 39, 42, 12, SS_CENTERIMAGE
EDITTEXT        305, 206, 39, 204, 13, ES_AUTOHSCROLL
PUSHBUTTON      "...", IDM_LOCATEPLUGIN, 334, 20, 16, 14
GROUPBOX        "Closed Loop Plugin", IDC_STATIC, 142, 5, 273, 57

LTEXT           "Trace Window (sec):", IDC_STATIC, 146, 73, 78, 12, SS_CENTERIMAGE
EDITTEXT        402, 215, 73, 26, 14, ES_AUTOHSCROLL 
LTEXT           "Trace Y Scale (mV):", IDC_STATIC, 248, 73, 59, 12, SS_CENTERIMAGE
EDITTEXT        405, 310, 73, 28, 14, ES_AUTOHSCROLL
CONTROL         "Continous", IDM_DISP_CONTINUOUS, "Button", BS_AUTORADIOBUTTON, 346, 71, 48, 10
CONTROL         "Level", IDM_DISP_LEVEL, "Button", BS_AUTORADIOBUTTON, 346, 81, 33, 10
GROUPBOX        "", IDC_STATIC, 142, 64, 273, 29

LTEXT           "Spike Raster (sec):", IDC_STATIC, 146, 100, 78, 12, SS_CENTERIMAGE
EDITTEXT        403, 215, 100, 26, 14, ES_AUTOHSCROLL 
LTEXT           "Histogram Range:", IDC_STATIC, 248, 100, 78, 12, SS_CENTERIMAGE
EDITTEXT        404, 310, 100, 28, 14, ES_AUTOHSCROLL
CONTROL         "Layout: Last Bin", IDM_LAYOUTLASTBIN, "Button", BS_AUTORADIOBUTTON, 346, 97, 68, 10
CONTROL         "Layout: All bins", IDM_LAYOUTALLBINS, "Button", BS_AUTORADIOBUTTON, 346, 107, 68, 10
GROUPBOX        "", IDC_STATIC, 142, 91, 273, 29

CONTROL			"Freeze", IDM_FREEZE, "Button" BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 81, 76, 50, 14
PUSHBUTTON      "Clear Spikes", IDM_CLEARSPIKES, 81, 96, 50, 14

GROUPBOX        "Display", IDC_STATIC, 74, 64, 65, 56 

PUSHBUTTON		"Begin", IDM_STARTTIMEDEXP, 81, 135, 50, 14
PUSHBUTTON      "Terminate", IDM_STOPTIMEDEXP, 81, 155, 50, 14
GROUPBOX        "Timed Xprmnt", IDC_STATIC, 74, 122, 65, 54

EDITTEXT        501, 148, 132, 262, 40, ES_MULTILINE | ES_READONLY | WS_VSCROLL 
GROUPBOX		"Messages", IDC_STATIC, 142, 122, 273, 54 

END


DLG_IOPARAMETERS DIALOGEX 0, 0, 206, 235
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Aquisition settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
LTEXT           "Sampling rate (Hz):", IDC_STATIC, 14, 15, 69, 10
EDITTEXT        100, 141, 14, 55, 12, ES_AUTOHSCROLL
GROUPBOX        "I/O parameters", IDC_STATIC, 4, 3, 198, 68
LTEXT           "Continous voltage recordings (min):", IDC_STATIC, 14, 86, 126, 10
EDITTEXT        200, 141, 85, 55, 12, ES_AUTOHSCROLL
LTEXT           "Spikes (events):", IDC_STATIC, 14, 99, 126, 10
EDITTEXT        201, 141, 99, 55, 12, ES_AUTOHSCROLL
GROUPBOX        "Internal history duration", IDC_STATIC, 4, 73, 198, 62
LTEXT           "Spike trace duration (msec):", IDC_STATIC, 14, 150, 126, 10
EDITTEXT        300, 141, 147, 55, 12, ES_AUTOHSCROLL
LTEXT           "Pretrigger duration (msec):", IDC_STATIC, 14, 164, 126, 10
EDITTEXT        301, 141, 161, 55, 12, ES_AUTOHSCROLL
LTEXT           "Interspike refractory period (microsec):", IDC_STATIC, 14, 178, 126, 10
EDITTEXT        302, 141, 175, 55, 12, ES_AUTOHSCROLL
GROUPBOX        "Spike trace storage", IDC_STATIC, 4, 137, 198, 62
DEFPUSHBUTTON   "OK", IDOK, 98, 214, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 150, 214, 50, 14
END


DLG_THRESHOLDSETUP DIALOGEX 90, 200, 313, 97
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Spike Detection Threshold Setup"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
PUSHBUTTON      "Set Threshold", 100, 9, 14, 65, 14
LTEXT           "for all channels to:", IDC_STATIC, 81, 17, 71, 8
EDITTEXT        200, 183, 16, 27, 13, ES_AUTOHSCROLL
PUSHBUTTON      "Set Threshold", 101, 9, 33, 65, 14
LTEXT           "of channel", IDC_STATIC, 81, 36, 71, 8
COMBOBOX        300, 121, 35, 45, 90, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
LTEXT           "to:", IDC_STATIC, 170, 36, 11, 8
EDITTEXT        201, 183, 35, 27, 13, ES_AUTOHSCROLL
GROUPBOX        "Manual Settings", IDC_STATIC, 6, 2, 208, 51

PUSHBUTTON      "Calculate Now", 102, 224, 14, 75, 14
PUSHBUTTON      "Calculate Now", 103, 224, 33, 75, 14
LTEXT           "Duration (sec)", IDC_STATIC, 226, 57, 51, 8
EDITTEXT        202, 274, 55, 26, 14, ES_AUTOHSCROLL
LTEXT           "RMS x", IDC_STATIC, 226, 74, 51, 8
EDITTEXT        203, 274, 72, 26, 14, ES_AUTOHSCROLL
GROUPBOX        "Automatic (RMS)", IDC_STATIC, 216, 2, 91, 90

DEFPUSHBUTTON   "OK", IDOK, 9, 75, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 74, 75, 50, 14

END


DLG_DATALOGFILESETUP DIALOGEX 90, 140, 328, 158
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Datalog File Setup"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

LTEXT           "Directory:", IDC_STATIC, 8, 10, 42, 12, SS_CENTERIMAGE
EDITTEXT        101, 80, 10, 220, 13, ES_AUTOHSCROLL
PUSHBUTTON      "...", 102, 303, 9, 16, 14

LTEXT           "File Name prefix:", IDC_STATIC, 8, 26, 62, 12, SS_CENTERIMAGE
EDITTEXT        103, 80, 26, 100, 13, ES_AUTOHSCROLL

LTEXT           "Max File Size (MByte):", IDC_STATIC, 194, 27, 81, 12, SS_CENTERIMAGE
EDITTEXT        104, 270, 26, 30, 13, ES_AUTOHSCROLL

LTEXT           "First File Number:", IDC_STATIC, 8, 42, 62, 12, SS_CENTERIMAGE
EDITTEXT        105, 80, 42, 40, 13, ES_AUTOHSCROLL

GROUPBOX        "", IDC_STATIC, 2, 0, 324, 62

CONTROL         "Log Raw Voltage Traces", 110, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 7, 68, 124, 14
CONTROL			"Log Spike Times and Envelopes", 111, "Button" BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 7, 83, 124, 14
CONTROL			"Log Digital In and Out Events", 112, "Button" BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 172, 68, 124, 14
CONTROL			"Log Analog Out Events", 113, "Button" BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 172, 83, 124, 14
CONTROL			"Log Spike Times Only", 114, "Button" BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 7, 98, 124, 14
CONTROL			"Log User Generated Data", 115, "Button" BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 172, 98, 124, 14
CONTROL			"Log Text Messages", 116, "Button" BS_AUTOCHECKBOX | WS_TABSTOP | BS_RIGHTBUTTON, 172, 113, 124, 14

GROUPBOX        "", IDC_STATIC, 2, 62, 324, 68

DEFPUSHBUTTON   "OK", IDOK, 9, 138, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 74, 138, 50, 14

END


DLG_PLAYBACKFILESETUP DIALOGEX 90, 140, 308, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Playback Setup"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

PUSHBUTTON      "Select First File...", 100, 8, 9, 66, 14
EDITTEXT		101, 80, 10, 220, 13, ES_AUTOHSCROLL
GROUPBOX        "", IDC_STATIC, 2, 0, 304, 30

LTEXT           "Directory:", IDC_STATIC, 8, 40, 42, 12, SS_CENTERIMAGE
EDITTEXT        102, 80, 40, 220, 13, ES_AUTOHSCROLL
LTEXT           "File Name prefix:", IDC_STATIC, 8, 56, 62, 12, SS_CENTERIMAGE
EDITTEXT        103, 80, 56, 120, 13, ES_AUTOHSCROLL
LTEXT           "Type:", IDC_STATIC, 207, 56, 32, 12, SS_CENTERIMAGE
EDITTEXT        106, 240, 56, 60, 13, ES_READONLY

LTEXT           "First File Number:", IDC_STATIC, 8, 72, 62, 12, SS_CENTERIMAGE
EDITTEXT        104, 80, 72, 60, 13, ES_AUTOHSCROLL
LTEXT           "Last File Number:", IDC_STATIC, 170, 72, 62, 12, SS_CENTERIMAGE
EDITTEXT        105, 240, 72, 60, 13, ES_AUTOHSCROLL
GROUPBOX        "", IDC_STATIC, 2, 30, 304, 62

DEFPUSHBUTTON   "OK", IDOK, 9, 98, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 74, 98, 50, 14

END


DLG_CONVERTFILESETUP DIALOGEX 90, 140, 308, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Convert Files"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

PUSHBUTTON      "Select first file...", 100, 8, 11, 66, 14
EDITTEXT		101, 80, 12, 220, 13, ES_AUTOHSCROLL

LTEXT           "Directory:", IDC_STATIC, 10, 28, 42, 12, SS_CENTERIMAGE
EDITTEXT        102, 80, 28 220, 13, ES_AUTOHSCROLL
LTEXT           "File Name prefix:", IDC_STATIC, 10, 44, 62, 12, SS_CENTERIMAGE
EDITTEXT        103, 80, 44, 120, 13, ES_AUTOHSCROLL
LTEXT           "Type:", IDC_STATIC, 207, 44, 32, 12, SS_CENTERIMAGE
EDITTEXT        106, 240, 44, 60, 13, ES_READONLY

LTEXT           "First File Number:", IDC_STATIC, 10, 60, 62, 12, SS_CENTERIMAGE
EDITTEXT        104, 80, 60, 60, 13, ES_AUTOHSCROLL
LTEXT           "Last File Number:", IDC_STATIC, 170, 60, 62, 12, SS_CENTERIMAGE
EDITTEXT        105, 240, 60, 60, 13, ES_AUTOHSCROLL
GROUPBOX        "Input", IDC_STATIC, 2, 0, 304, 82

PUSHBUTTON      "Directory..." 107, 10, 95, 66, 14
EDITTEXT        108, 80, 96, 220, 13, ES_AUTOHSCROLL
GROUPBOX        "Output", IDC_STATIC, 2, 84, 304, 32

DEFPUSHBUTTON   "OK", IDOK, 9, 128, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 74, 128, 50, 14
PUSHBUTTON      "Abort", IDABORT, 139, 128, 50, 14

END


DLG_ABOUTBOX DIALOGEX 20, 70, 200, 128
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
ICON			"IDI_CLEM", -1, 88, 10, 0, 0
DEFPUSHBUTTON   "OK", IDOK, 74, 102, 53, 14, WS_GROUP
CTEXT           "Closed Loop Experiment Manager", -1, 2, 38, 190, 8, 
CTEXT           "Written by Hananel Hazan and Noam E. Ziv", -1, 2, 52, 190, 8
CTEXT			"Network Biology Labs, Technion, Haifa", -1, 2 66, 190, 8
CTEXT			"http://noamziv.net.technion.ac.il/", -1, 2 80, 190, 8
END


DLG_TIMINGSETUP DIALOGEX 300, 200, 472, 122
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Timed Experiment Setup"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

LTEXT           "#", -1, 80, 9, 23, 10
LTEXT           "Use?", -1, 95, 9, 23, 10
LTEXT           "Action", -1, 116, 9, 23, 10
LTEXT           "Duration (min)", -1, 234, 9, 48, 10
LTEXT           "Argument String", -1, 286, 9, 120, 10

LTEXT           "001", 100, 77, 24, 15, 10, SS_NOTIFY
COMBOBOX        101, 114, 22, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP 
EDITTEXT        102, 236, 22, 43, 13, ES_AUTOHSCROLL
EDITTEXT        103, 282, 22, 164, 13, ES_AUTOHSCROLL
CHECKBOX		"", 104, 97, 23, 12, 12

LTEXT           "002", 200, 77, 40, 15, 10, SS_NOTIFY
COMBOBOX        201, 114, 38, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
EDITTEXT        202, 236, 38, 43, 13, ES_AUTOHSCROLL
EDITTEXT        203, 282, 38, 164, 13, ES_AUTOHSCROLL
CHECKBOX		"", 204, 97, 39, 12, 12

LTEXT           "003", 300, 77, 56, 15, 10, SS_NOTIFY
COMBOBOX        301, 114, 54, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
EDITTEXT        302, 236, 54, 43, 13, ES_AUTOHSCROLL
EDITTEXT        303, 282, 54, 164, 13, ES_AUTOHSCROLL
CHECKBOX		"", 304, 97, 55, 12, 12

LTEXT           "004", 400, 77, 72, 15, 10, SS_NOTIFY
COMBOBOX        401, 114, 70, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
EDITTEXT        402, 236, 70, 43, 13, ES_AUTOHSCROLL
EDITTEXT        403, 282, 70, 164, 13, ES_AUTOHSCROLL
CHECKBOX		"", 404, 97, 71, 12, 12

LTEXT           "005", 500, 77, 88, 15, 10, SS_NOTIFY
COMBOBOX        501, 114, 86, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
EDITTEXT        502, 236, 86, 43, 13, ES_AUTOHSCROLL
EDITTEXT        503, 282, 86, 164, 13, ES_AUTOHSCROLL
CHECKBOX		"", 504, 97, 87, 12, 12

LTEXT           "006", 600, 77, 104, 15, 10, SS_NOTIFY
COMBOBOX        601, 114, 102, 120, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
EDITTEXT        602, 236, 102, 43, 13, ES_AUTOHSCROLL
EDITTEXT        603, 282, 102, 164, 13, ES_AUTOHSCROLL
CHECKBOX		"", 604, 97, 103, 12, 12

SCROLLBAR       10, 450, 22, 12, 92, SBS_VERT

GROUPBOX        "", -1, 71, 0, 398, 119

PUSHBUTTON      "Add", 3, 11, 21, 50, 14
PUSHBUTTON      "Delete", 4, 11, 39, 50, 14
PUSHBUTTON      "Close", IDCANCEL, 11, 101, 50, 14
GROUPBOX        "", -1, 4, 0, 64, 119

END


DLG_DIODISPLAY DIALOGEX 70, 50, 269, 143
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Digital IO Display"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

CONTROL         "Line (bit) 1", 100, "Button", BS_RADIOBUTTON, 18, 19, 50, 10
CONTROL         "Line (bit) 2", 101, "Button", BS_RADIOBUTTON, 18, 33, 50, 10
CONTROL         "Line (bit) 3", 102, "Button", BS_RADIOBUTTON, 18, 47, 50, 10
CONTROL         "Line (bit) 4", 103, "Button", BS_RADIOBUTTON, 18, 61, 50, 10
CONTROL         "Line (bit) 5", 104, "Button", BS_RADIOBUTTON, 18, 75, 50, 10
CONTROL         "Line (bit) 6", 105, "Button", BS_RADIOBUTTON, 18, 89, 50, 10
CONTROL         "Line (bit) 7", 106, "Button", BS_RADIOBUTTON, 18, 103, 50, 10
CONTROL         "Line (bit) 8", 107, "Button", BS_RADIOBUTTON, 18, 117, 50, 10
GROUPBOX        "Digital Input", -1, 7, 7, 90, 130

CONTROL         "Line (bit) 1", 200, "Button", BS_RADIOBUTTON, 120, 19, 50, 10
CONTROL         "Line (bit) 2", 201, "Button", BS_RADIOBUTTON, 120, 33, 50, 10
CONTROL         "Line (bit) 3", 202, "Button", BS_RADIOBUTTON, 120, 47, 50, 10
CONTROL         "Line (bit) 4", 203, "Button", BS_RADIOBUTTON, 120, 61, 50, 10
CONTROL         "Line (bit) 5", 204, "Button", BS_RADIOBUTTON, 120, 75, 50, 10
CONTROL         "Line (bit) 6", 205, "Button", BS_RADIOBUTTON, 120, 89, 50, 10
CONTROL         "Line (bit) 7", 206, "Button", BS_RADIOBUTTON, 120, 103, 50, 10
CONTROL         "Line (bit) 8", 207, "Button", BS_RADIOBUTTON, 120, 117, 50, 10
GROUPBOX        "Digital Output", -1, 109, 7, 90, 130

DEFPUSHBUTTON   "OK", IDOK, 211, 15, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 211, 36, 50, 14

END

DLG_ADDTEXTENTRY DIALOGEX 130, 180, 282, 56
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Entry to Message Log"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
EDITTEXT        100, 12, 11, 262, 13, ES_AUTOHSCROLL
DEFPUSHBUTTON   "Add", IDOK, 11, 30, 52, 14
PUSHBUTTON      "Cancel", IDCANCEL, 71, 30, 52, 14
GROUPBOX        "", -1, 5, 0, 275, 52
END
